.mountainsBottom {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
    background-color: var(--000-blue);

    & svg {
        width: 150%;
        height: auto;
        margin-bottom: -4px;
    }
}