.header {
    color: white;
    position: fixed;
    z-index: 100;
    width: 100%;
    background: transparent;
    transform: translateY(-85px);
    transition: transform 0.5s ease;

    &OnCover {
        color: var(--header__on-cover--color);
        background: var(--header__on-cover--background);
        backdrop-filter: var(--header__on-cover--backdrop-filter);
    }
    &OnContent {
        color: var(--header__on-content--color);
        background: var(--header__on-content--background);
        backdrop-filter: blur(50px);
    }
}
