.description {
    font-style: normal;
    font-weight: 400;
    line-height: 1.125rem;
    text-align: center;

    &WithArrow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
    }
}
