.containerBottom {
    width: var(--width-content__desktop);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-top: 1.5rem;
    box-sizing: border-box
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .containerBottom {
        width: var(--width-content__tablet);
        margin-top: 1rem;
    }
}

@media only screen and (max-width: 743px) {
    .containerBottom {
        padding: 0 2rem;
        margin-top: 0rem;
        width: var(--width-content__mobile);
        flex-direction: column;
        justify-content: center;
    }
}