.item {
    box-sizing: border-box;
    font-size: 1rem;
    line-height: 100%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    border-radius: var(--border-radius);
    transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
    color: inherit;
    box-shadow: inset 0 0 0 1px transparent;
    background-color: transparent;

    &:active {
        box-shadow: inset 0 0 0 1px var(--200-blue);
        color: var(--header__nav-item--color-hover);
        background: var(--header__nav-item--background-hover);
    }

    &:hover {
        color: var(--header__nav-item--color-hover);
        background: var(--header__nav-item--background-hover);
    }

    &Active {
        background: var(--header__nav-item--background-selected);
        color: var(--header__nav-item--color-selected);
    }
}
