.container {
    display: block;
    position: fixed;
    z-index: 999;
    max-width: 300px;
    width: 80%;
    top: 0;
    right: 0;
    bottom: 0;

    &SideBarOpen {
        // height: 100vh;
        // background-color: var(--000-blue);
        // border-radius: 1.75rem 0 0 1.75rem;
    }
}