.sectionDescription {
    
}

.section {
    &Content {
        flex-direction: column;
        gap: 2.25rem;
        margin: 3.5rem 0;

        &Title {
            color: var(--500-blue);
        }

        &Lead { 
            align-self: stretch;
        }
    }
    &Col {
        &IMG {
            height: 30rem;
            border-radius: var(--border-radius);
        }
        &Left {
            width: 65%;
            height: 30rem;
        }

        &Right {
            width: 30%;
            height: 30rem;
        }
        &Content {
            align-items: flex-start;
        }
    }
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background: var(--500-blue);
    // font: 700 0.9rem/1 "Poppins", sans-serif; // весь шрифт заново - элемент формы
    font-size: 1rem;
    font-weight: 600;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;

    padding: 1.2em 3.2em;
    border-radius: var(--border-radius);
    cursor: pointer;
    opacity: 1;
    transition: background-color 0.3s, opacity 0.2s;

    &:hover {
        background: var(--400-blue);
    }

    &:active {
        opacity: 0.8;
    }
}
