$gradient-top: linear-gradient(
    347deg,
    hsla(206, 100%, 61%, 0) 50.9%,
    #0064df 100%
);

// $gradient-top: linear-gradient(
//     342deg,
//     rgba(56, 168, 255, 0) 64.99%,
//     #62a9ff 100%
// );

$gradient-bottom: linear-gradient(
    360deg,
    #fff 5.73%,
    rgba(255, 255, 255, 0) 30.98%
);

.mountains {
    position: absolute;
    width: 100%;
    height: auto;
    top: 40vh;
    stroke-linecap: round;
    color: #fff;
    opacity: 0.8;

    &Four {
        display: none;
        &Four {
            stroke-dasharray: 2000;
            stroke-dashoffset: 0;
            animation: moveFourF 5s ease infinite;
        }
    }
    &Three {
        display: none;
        &Three {
            stroke-dasharray: 700;
            stroke-dashoffset: 0;
            animation: moveThreeT 5s ease infinite;
        }
    }
    &Two {
        display: none;
        &Two {
            stroke-dasharray: 1100;
            stroke-dashoffset: 0;
            animation: moveTwoT 5s ease infinite;
        }
    }
    &One {
        &One {
            stroke-dasharray: 2100;
            stroke-dashoffset: 0;
            animation: moveOneO 5s ease infinite;
        }
    }

    @keyframes moveFourF {
        0% {
            stroke-dashoffset: 6000;
            opacity: 0.8;
        }
        8% {
            stroke-dashoffset: 6000;
            opacity: 0.8;
        }
        33% {
            stroke-dashoffset: 4000;
            opacity: 0.7;
        }
        77% {
            stroke-dashoffset: 4000;
            opacity: 0.5;
        }
        92% {
            stroke-dashoffset: 4000;
            opacity: 0;
        }
        100% {
            stroke-dashoffset: 4000;
            opacity: 0;
        }
    }
    @keyframes moveThreeT {
        0% {
            stroke-dashoffset: 2100;
            opacity: 0.8;
        }
        12% {
            stroke-dashoffset: 2100;
            opacity: 0.8;
        }
        37% {
            stroke-dashoffset: 2800;
            opacity: 0.7;
        }
        77% {
            stroke-dashoffset: 2800;
            opacity: 0.5;
        }
        92% {
            stroke-dashoffset: 2800;
            opacity: 0;
        }
        100% {
            stroke-dashoffset: 2800;
            opacity: 0;
        }
    }
    @keyframes moveTwoT {
        0% {
            stroke-dashoffset: 3300;
            opacity: 0.8;
        }
        15% {
            stroke-dashoffset: 3300;
            opacity: 0.8;
        }
        40% {
            stroke-dashoffset: 4400;
            opacity: 0.7;
        }
        77% {
            stroke-dashoffset: 4400;
            opacity: 0.5;
        }
        92% {
            stroke-dashoffset: 4400;
            opacity: 0;
        }
        100% {
            stroke-dashoffset: 4400;
            opacity: 0;
        }
    }
    @keyframes moveOneO {
        0% {
            stroke-dashoffset: 6300;
            opacity: 0.8;
        }
        25% {
            stroke-dashoffset: 8400;
            opacity: 0.7;
        }
        77% {
            stroke-dashoffset: 8400;
            opacity: 0.5;
        }
        92% {
            stroke-dashoffset: 8400;
            opacity: 0;
        }
        100% {
            stroke-dashoffset: 8400;
            opacity: 0;
        }
    }
}

.coverTitle {
    position: relative;
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;

    &Loading {
        // filter: blur(10px);
        animation: pulse-loading 2.5s infinite;

        @keyframes pulse-loading {
            0% {
                filter: saturate(1.2) brightness(1);
            }
            50% {
                filter: saturate(2.5) brightness(1.2);
            }
            100% {
                filter: saturate(1.2) brightness(1);
            }
        }
    }
    &Loaded {
        filter: none;
    }

    &Image {
        width: 100%;
        height: auto;
        opacity: 0;
        object-position: center;
        object-fit: cover;
        transition: opacity 1.25s;
        // object-position: 0 -100px;
        // padding-bottom: 67%;

        &Loaded {
            opacity: 1;
        }
    }
}

.gradient {
    &Top {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        background: $gradient-top;
    }
    &Bottom {
        position: absolute;
        width: 100%;
        height: 100%;
        bottom: 0;
        left: 0;
        right: 0;
        background: $gradient-bottom;
    }
}
