.detail {
    &List {
        list-style-position: outside;
        list-style-type: disc;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        padding-left: 1rem;
    }
    &Element {
        padding-left: 0.5rem;
        align-self: stretch;
        color: var(--700-blue);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
    }
}
