.contentPage {
    margin-top: calc(3rem - 1.25rem);
    width: var(--width-content__desktop);
    box-sizing: border-box
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .contentPage {
        width: var(--width-content__tablet);
    }
}

@media only screen and (max-width: 743px) {
    .contentPage {
        align-self: stretch;
        width: var(--width-content__mobile);
        padding: 0 2rem;
    }
}