.gridSideWidth {
    width: 12rem;
}


.footer {
    &SubscriptionTitle {
        width: 100%;
        color: white;
    }

    &Icon {
        color: white;
        width: 1rem;
        height: 1rem;
    }

}

.footerLogo {
    display: flex;
    align-items: center;
    color: white;
    width: 20rem;
    height: auto;
    gap: 1rem;
}

svg.footerLogoSun {
    width: 6.47819rem;
    height: 6.4375rem;
    flex-shrink: 0;
}

svg.footerLogoVradalPanorama {
    width: 13.09894rem;
    height: 4.75906rem;
    flex-shrink: 0;
}

button.footerButton {
    padding: 0;
    height: 100%;
    background: var(--400-blue);
    border-radius: 0px var(--border-radius) var(--border-radius) 0px;
    width: 4rem;
    height: 4rem;
}
