.containerArea {
    height: auto;
    margin-top: -124px;
    display: flex;
    width: 100%;

    &Fixed {
        position: fixed;
        bottom: 2rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 15;
    }
}


@media only screen and (max-width: 1100px) and (min-width: 744px) {}

@media only screen and (max-width: 743px) {
    .containerArea {
        margin-top: -78px;
        &Fixed {
            bottom: 4rem;
        }
    }
}