.div {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    font-weight: 600;
    color: var(--500-blue);
    width: 100%;
    height: 100vh;
    background-color: var(--000-blue);
}