.group {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    &Text {
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    &Pricing {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2.5rem; //???

        &Price {
            width: 43%;
        }
        &Category {
            background-color: var(--000-blue);
            display: flex;
            align-items: flex-start;
            // gap: .5rem; // ????
            align-self: stretch;
            border-radius: calc(var(--border-radius) + 0.3rem);
            justify-content: space-between;
            padding: 0.3rem;

            &Container {
                display: flex;
                align-items: flex-start;
                align-self: stretch;
                justify-content: space-between;
                background-color: var(--000-blue);
                border-radius: calc(var(--border-radius) + 0.3rem);
                padding: 0.3rem;
            }

            &Button {
                width: 48.5%;
                border-radius: var(--border-radius);
                display: flex;
                // padding: 0.25rem 0.5rem; // ????
                padding: 0.5rem 1rem;
                align-items: flex-start; // ???
                justify-content: center;
                cursor: pointer;

                // Typography
                color: var(--500-blue);
                background-color: transparent;
                font-size: 1.25rem;
                font-style: normal;
                font-weight: 400;
                line-height: 190%;
                text-transform: capitalize;
                transition: all 0.3s ease;

                &Active {
                    background-color: var(--500-blue);
                    color: white;
                    font-weight: 500;
                }
                &:hover:not(&Active) {
                    background-color: var(--100-blue);
                    color: var(--700-blue);
                }
            }

            &Info {
                color: var(--200-dark);
                text-align: left;
                font-size: 1.125rem; // ????
                font-style: normal;
                font-weight: 400;
                line-height: 150%;
            }
        }
    }
}
