.bottomPosition {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background: transparent;
    color: var(--600-blue);
    border: solid 2px rgba(11, 126, 193, 0.2);
    border-radius: calc(var(--border-radius) + 0.5rem);
    transition: all 0.3s;

    &:hover,
    &:active {
        border-radius: calc(var(--border-radius) + 0.5rem);
        border: solid 1.5px var(--100-blue);
        color: var(--500-blue);
        background: var(--100-blue);
    }
}
