.bottomPosition {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    // border: solid 2px rgba(28, 30, 32, 0.1);
    // background: linear-gradient(180deg, #f5fbff 0%, #e5f6ff 100%);
    color: inherit;
    border: solid 1px rgba(28, 30, 32, 0.25);
    border-radius: 2rem;
    transition: all .3s;

    &:hover, &:active {
        border: solid 1px transparent;
        background: transparent;
    }
}