.sectionCol {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    overflow: hidden;
    height: 40rem;

    &Left {
        width: 32rem;
    }
    &Right {
        width: 40rem;
    }
}