.levelsGroup {
    position: relative;
    background-color: var(--000-blue);
    width: 100%;
    height: auto;
    margin-bottom: 8rem;
}

.container {
    width: 980px;
    display: flex;
    flex-direction: column;
    padding: 6rem 0rem;
    gap: 5.5rem;
}

.mountains {
    &Top {
    }
    &Bottom {
    }
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    align-self: stretch;

    &Container {
        display: flex;
        align-items: center;
        gap: 1.25rem;
        align-self: stretch;
    }

    &Title {
        color: var(--500-blue);
        text-transform: none;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            margin-left: 1.25rem;
            background: url("./icons/title.svg") no-repeat center center;
            width: 3.125rem;
            height: 3.125rem;
            background-size: cover;
        }
    }

    &Lead {
        color: var(--500-blue);
        font-size: 2.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 125%; /* 128.571% */
    }
}

.levelCard {
    display: flex;
    width: 470px;
    padding: 3.75rem 3rem;
    align-items: flex-start;
    gap: 2rem;
    flex-shrink: 0;
    align-self: stretch;
    box-sizing: border-box;

    &Type {
        &Blue {
            border-radius: var(--border-radius);
            background: linear-gradient(180deg, #fff 0%, #f8fcff 100%);
        }
        &Green {
            border-radius: var(--border-radius);
            background: linear-gradient(180deg, #fff 0%, #f7fffa 100%);
        }
        &Red {
            border-radius: var(--border-radius);
            background: linear-gradient(180deg, #fff 0%, #fff8f6 100%);
        }
        &Black {
            border-radius: var(--border-radius);
            background: linear-gradient(180deg, #fff 0%, #f2f3f4 100%);
        }
    }

    &Icon {
        width: 4rem;
        height: 4rem;
        background-size: contain;
        padding-top: 0.5rem;
        &Blue {
            background: url("./icons/blue.svg") no-repeat center center;
            background-size: contain;
        }
        &Green {
            background: url("./icons/green.svg") no-repeat center center;
            background-size: contain;
        }
        &Red {
            background: url("./icons/red.svg") no-repeat center center;
            background-size: contain;
        }
        &Black {
            background: url("./icons/black.svg") no-repeat center center;
            background-size: contain;
        }
    }

    &Text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        flex: 1 0 0;

        &Title {
            align-self: stretch;
        }
        &Lead {
            align-self: stretch;
        }
    }
}

.cardContainer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
