.action {
    display: flex;
    padding: 1rem 3.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    align-self: stretch;
    background-color: white;

    color: var(--600-blue);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 100rem;
    z-index: 11;
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .action {
        padding: 1rem 3.5rem;
        font-size: 1.25rem;
    }
}

@media only screen and (max-width: 743px) {
    .action {
        // max-width: 50%;
        // min-width: 30%;
        padding: 1rem 3.5rem;
        align-self: stretch;
        padding: 1rem 4rem;
        font-size: 1.25rem;
    }
}
