.infoSubpageHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-top: 1.75rem;
    transition: all 0.3s ease;
    border-radius: 1rem;
    padding: 0 1rem;

    &Icon {
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--400-dark);
        opacity: 0;
        transition: opacity 0.3s ease;

        &Loaded {
            opacity: 1;
        }
    }

    &Text {
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 150%;
        align-self: stretch;
        color: var(--400-dark);
        text-align: center;
        opacity: 0;
        transition: opacity 0.3s ease;

        &Loaded {
            opacity: 1;
        }
    }

    &Loading {
        border-radius: 10px;
        animation: loading 5s ease infinite;
        background-color: var(--200-dark);

        @keyframes loading {
            0% {
                opacity: 0;
            }
            25% {
                opacity: 0.45;
            }
            50% {
                opacity: 0.15;
            }
            75% {
                opacity: 0.45;
            }
            100% {
                opacity: 0;
            }
        }
    }

    &Loaded {
        animation: loaded 1s ease;

        @keyframes loaded {
            0% {
                background-color: var(--100-dark);
            }
            100% {
                background-color: transparent;
            }
        }
    }
}
