.description {
    color: var(--300-dark);
    width: 28%;
    font-size: 1rem;
    line-height: 150%;
    text-align: right;
    font-weight: 400;
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .description {

    }
}

@media only screen and (max-width: 743px) {
    .description {
        order: 2;
        width: 100%;
        text-align: center;
    }
}