.sectionContent {
    padding: 0 4rem;
    box-sizing: border-box;
    margin-bottom: 0rem;
    background: linear-gradient(180deg, #F5FBFF 0%, #F5FBFF 20.31%, rgba(245, 251, 255, 0.00) 100%);
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .sectionContent {
        margin-bottom: 0rem;
        padding: 0 2rem;

    }
}

@media only screen and (max-width: 743px) {
    .sectionContent {
        margin-bottom: 0rem;
        padding: 0 0.75rem;

    }
}