.placeholder {
    display: block;
    height: 124px;
    width: inherit;
}
@media only screen and (max-width: 1100px) and (min-width: 744px) {}

@media only screen and (max-width: 743px) {
    .placeholder {
        height: 78px;
    }
}