.container {
    padding: 1.25rem 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: auto 1fr;
    justify-content: flex-start;
    align-items: flex-start;
    box-sizing: border-box;

    border-radius: 1.75rem;
    transition: all .3s ease;
    
    box-shadow: var(--snackbar__container--box-shadow);
    background-color: #fff;

    // opacity: 1;

}

@media screen and (min-width: 576px) {
    .container {
        // width: 32rem;
    }
}