.containerContentSection {
    display: flex;
    width: 100%;
    padding:  9.25rem 0px 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.75rem;
    background-color: var(--000-blue);
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .containerContentSection {
        padding: 7.5rem 0px 0;
        gap: 2rem;
    }
}

@media only screen and (max-width: 743px) {
    .containerContentSection {
        // align-items: flex-start;
        padding: 8rem 0px 0rem;
        gap: 1.75rem;
        // width: var(--width-content__mobile);
    }
}
