.placeholder {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 75rem;
    background: var(--snackbar__placeholder-icon--background);
    overflow: hidden;
    
    transition: all 0.3s ease;
}
