.imgBadge {
    position: absolute;
    top: 1.25rem;
    right: 1.25rem;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0.5rem 0.8rem;
    // background-color: white;
    color: white;
    border: solid 1px white;
    border-radius: 100px;
    text-transform: uppercase;
    opacity: 0.8;
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .imgBadge {
        
    }
}

@media only screen and (max-width: 743px) {
    .imgBadge {
        display: none;
    }
}