.sectionColContent {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    p {
        color: var(--text-black);
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 150%;
    }
}