.mountainsTop {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: -4px;
    padding: 0;
    overflow: hidden;
    & svg {
        width: 100%;
        height: auto;
        margin-bottom: -4px;
    }
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
}

@media only screen and (max-width: 743px) {
    .mountainsTop {
        & svg {
            width: 150%;
            height: auto;
            margin-bottom: -4px;
        }
    }
}
