.lead {
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 150%;
    color: white;
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .lead {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 743px) {
    .lead {
        font-size: 1.25rem;
    }
    
}