.container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    align-self: stretch;
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .container {

    }
}

@media only screen and (max-width: 743px) {
    .container {
        flex-direction: column;
        justify-content: center;
    }
}