.tabsContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    gap: 0.5rem;
}

.formatTab {
    cursor: pointer;
    min-width: 2.5rem;
    border-radius: 800px;

    display: flex;
    border: solid 1px var(--200-blue);
    padding: 0.75rem 1.25rem;
    align-items: center;
    justify-content: center;
    color: var(--500-blue);
    font-weight: 400;

    font-size: 1.1rem;
    letter-spacing: 2.25px;
    text-transform: uppercase;
    transition: all 0.3s ease;

    &:hover {
        border: solid 1px var(--100-blue);
        background-color: var(--100-blue);
    }

    &Active {
        border: solid 1px var(--500-blue);
        background-color: var(--500-blue);
        color: white;
        font-weight: 500;
        cursor: default;

        &:hover {
            border: solid 1px var(--500-blue);
            background-color: var(--500-blue);
        }
    }

    &Events {
        position: relative;
        box-sizing: border-box;
    }
}

.badgeContainer {
    position: absolute;
    top: -0.6rem;
    right: 1.5rem;
    transform: translateX(100%);
    padding: 0.3rem 0.6rem;
    border-radius: 10rem;
    background-color: var(--300-blue);
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .tabsContainer {
    }
}

@media only screen and (max-width: 743px) {
    .tabsContainer {
    }
}
