.galleryNavigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 10;

    &Btn {
        min-width: 6rem;
        position: absolute;
        // display: block;
        height: 100%;
        border: none;
        padding: 0;
        background: rgba($color: #003049, $alpha: 0)
            url("./images/arrow-left.svg") no-repeat center center;
        text-indent: -1234em;
        background-size: 52% auto;
        transition: opacity 0.3s, background-color 0.3s;
        cursor: pointer;
        border-radius: 5px;

        &Right {
            right: 1rem;
            background-image: url("./images/arrow-right.svg");
        }

        &Left {
            left: 1rem;
        }

        &:hover {
            opacity: 0.9;
        }

        &:disabled {
            cursor: default;
            opacity: 0.2;
            background-color: transparent;
        }
    }
}
