.title {
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    color: var(--500-blue);
}

@media only screen and (max-width: 1100px) and (min-width: 744px) {
    .title {
        font-size: 3.5rem;
    }
}

@media only screen and (max-width: 743px) {
    .title {
        font-size: 2.75rem;
        text-align: center;
    }
}
