.text {
    &List {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
    }
    &Element {
        align-self: stretch;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 150%;
    }
}
